.rt-td {
    border: 1px solid black !important;
    padding: 5px !important;
    /* margin: 2px !important; */
    text-transform: lowercase !important;
    font-size: 12px;
}

.rt-th {
    padding: 10px !important;
    /* margin: 2px 0 !important; */
    border: 1px solid #000000 !important;
    background-color: #4c4c4c;
    color: #f0f0f0;
    font-weight: bold;
}

.rt-tr-group {
    padding: 0 !important;
}

.-pagination {
    margin: 0 !important;
    padding: 0 !important;
}

.-btn {
    padding: 8px 12px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #000000 !important;
    color: #fff !important;
    cursor: pointer !important;
    width: 100% !important;
}

.-btn:hover {
    background-color: #0056b3 !important;
}

.rt-thead {
    background-color: #f0f0f0 !important;
    /* Header background color */
    /* border: 1px solid #ccc !important; */
    /* Header border */
    text-transform: lowercase !important;
}



.rt-resizable-header-content {
    display: flex !important;
    align-items: center !important;
}

.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 0 #000000 !important;
}