.Background {
    position: absolute;
    position: fixed;
    /* width: 1500px; */
    /* height: 1000px; */
    left: 50px;
    top: 18%;
    bottom: 10%;
    /* z-index: 1; */
    /* margin-right: 200px; */

}


/* Ellipse 3 */
.Ellipse3 {
    position: absolute;
    width: 592px;
    height: 549px;
    left: 119px;
    top: 164px;
    background: #CE6969;
    border-radius: 50%;
}



/* Ellipse 1 */
.Ellipse1 {
    position: absolute;
    width: 858px;
    height: 814px;
    left: -310px;
    top: 413px;
    background: #961616;
    border-radius: 50%;
}



/* Ellipse 2 */
.Ellipse2 {
    position: absolute;
    width: 841px;
    height: 780px;
    left: -370px;
    top: -267.03px;

    background: #C03E3E;
    transform: rotate(-2.18deg);
    border-radius: 50%;
}



/* Rectangle 1 */
.Rectangle {
    position: absolute;
    width: 779px;
    height: 43px;
    left: 451px;
    top: 413px;

    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.header-box-logo {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    text-align: center;
    padding: 5%;
}


.caritaslogo {
    position: fixed;
    top: 5%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 10%;
}

.caritaslogo-navbar {
    position: fixed;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 10%;
}

.header-box-title {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    text-align: center;
    padding: 5%;
}

.header-title-text {
    color: red;
    font-family: Tahoma, sans-serif;
    padding-top: 10px;
    /* font-size: 50px; */
}

.login-card {
    margin-right: 200px;
    width: 40%;
}


/* Custom Shadow Styles */
/* Strong Shadow */
.strong-shadow {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8), 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-height{
    height: 90vh;
}


/* Media queries for smaller screens */

@media (max-width: 768px) {

    /* Background */
    .Background {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    /* Ellipse 3 */
    .Ellipse3 {
        width: 50%;
        height: auto;
        left: 25%;
        top: 20%;
    }

    /* Ellipse 1 */
    .Ellipse1 {
        width: 80%;
        height: auto;
        left: 10%;
        top: 40%;
    }

    /* Ellipse 2 */
    .Ellipse2 {
        width: 80%;
        height: auto;
        left: 10%;
        top: 10%;
    }

    /* Rectangle 1 */
    .Rectangle {
        width: 80%;
        height: auto;
        left: 20%;
        top: 50%;
    }

    .header-box {
        position: fixed;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 100%;
        text-align: center;
        padding: 10%;
    }

    .caritaslogo {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 50%;
    }

    .login-card {
        margin: 10px;
    }
}